configuration{
    dpi: 0;
    kb-row-left: "Alt+h";
    kb-row-down:"Down,Alt+j";
    kb-row-up: "Up,Alt+k";
    kb-row-right: "Alt+l";
    kb-custom-1: "Shift+Return";
    kb-accept-alt: "";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    normalize-match: false;
}
