* {
   all: unset; 
}

.welcome {
    background-color: rgba(107, 107, 107, 0.8); 
}

.welcome_text {
    color: #FFFFFF; 
    font-size: 60px; 
    // font-family: JetBrains Mono;
    text-shadow: 3px 3px 0px #000000;
}
